<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="preHandler()">pre</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        [ngClass]="{ active: i === currentPage }"
        (click)="clickHandler(i)"
        *ngIf="i < 5"
      >
        <a class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" (click)="nextHandler()">next</a>
    </li>
  </ul>
  <!-- 
  <div>
    <h4>{{ images[currentPage].title }}</h4>
    <img [src]="images[currentPage].url" />
  </div> -->
</nav>
<div *[ngSwitch]="currentPage">
  <div *ngSwitchCase="0">this is 0</div>
  <div *ngSwitchCase="1">this is 1</div>
  <div *ngSwitchCase="2">this is 2</div>
  <div *ngSwitchCase="3">this is 2</div>
</div>
